<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="name.zeno.android.jiguang"
  >


  <application>
    <receiver
      android:name=".RxJPushMessageReceiver"
      tools:ignore="ExportedReceiver"
      >
      <intent-filter>
        <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE"/>
        <category android:name="${applicationId}"/>
      </intent-filter>
    </receiver>
  </application>
</manifest>
